<div class="h-screen flex flex-col-reverse relative">

  <picture class="basis-full sm:basis-2/4 w-full h-1/2">
    <source media="(max-width:640px)" srcset="../assets/bg-mobile.png">
    <source media="(min-width:641px)" srcset="../assets/bg-desktop.png">
    <img src="assets/bg-desktop.png" class="w-full h-full object-fill" alt="background-pattern">
  </picture>

  <div class="container absolute flex flex-col justify-center sm:items-end gap-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 sm:flex-row p-4">

    <div class="bg-blue-dark p-8 flex flex-col gap-8 rounded-b-lg rounded-tl-xl rounded-tr-[6.5rem] justify-start w-full sm:w-[20rem]">
        <img src="../assets/logo.svg" class="w-32">
        <div class="flex flex-row gap-4 w-56">
          <img src="assets/icon-document.svg" class="bg-blue-very-dark p-2 rounded-lg">
          <img src="assets/icon-folder.svg" class="bg-blue-very-dark p-2 rounded-lg">
          <img src="assets/icon-upload.svg" class="bg-blue-very-dark p-2 rounded-lg">
        </div>
    </div>
    <div class="bg-blue-dark pb-12 pt-8 px-8 sm:p-8 flex flex-col gap-2 rounded-lg w-full sm:w-[30rem] relative">
      <p class="text-white font-normal text-xs">You've used <span class="font-bold">815 GB</span> of your storage</p>
      <div class="rounded-full p-[0.15rem] min-w-[10rem] max-w-full bg-blue-very-dark flex flex-row justify-start">
        <div class="bg-gradient-to-r from-gradient1 to-gradient2 w-9/12 flex flex-row justify-end rounded-full p-[0.15rem]">
          <div class="rounded-full w-2 h-2 bg-white"></div>
        </div>
      </div>
      <div class="flex justify-between">
        <p class="text-white font-bold text-xs">0 GB</p>
        <p class="text-white font-bold text-xs">1000 GB</p>
      </div>
      <div class="absolute right-1/2 translate-x-1/2 -bottom-1/4  sm:bottom-[85%] sm:right-[2rem] sm:translate-x-0">
        <div class="flex gap-0 relative">
          <div class="p-4 bg-white w-fit rounded-lg">
            <p class="text-gray-400 text-xs font-bold text-center"><span class="text-3xl text-blue-very-dark">185</span> GB LEFT</p>
          </div>
          <div class="invisible sm:visible border-solid border-x-[20px] border-t-0 border-b-[20px] border-x-transparent border-t-transparent border-b-white rotate-45 absolute -bottom-[10px] -right-[13px]"></div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>